<style type="text/css">
    .navbar {
        margin-bottom: 0 !important;
    }
    a{
        color: #474747;
    }
</style>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>What are your wishes?</h1>
                    <h3>Ensure your wishes are never forgotten</h3>
                    <hr class="intro-divider">
                    <div>
                        <h3>What do you wish for? Add it here <a href="#/signup">Sign up</a>.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        620067669 © 2016 
    </div>
</div>